.Options1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0px
  }

  .Options2 {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 110%;
    width: 100%;
    padding: 0px
  }

  img {
    width: 50px;
  }

  .submit {
 width: 50px;
  }